body {font-size:100%; background:#D2E1FF; line-height:180%;
    height:100%; overflow:scroll;}

h1 {color:#50508C; text-align:center; margin-top:20px;}

header {float: right; width:83%; height:25%; margin-top:20px; overflow: visible;
    background-color:#f9fdff; border-radius:20px;}

.menubar {position:fixed; text-align:center;
    width:15%; height: 355px; bottom : 60%; overflow:visible;
    margin-left:5px;
    background-color:#f0ffff; border-radius:20px;}

ul {font-weight:bold; margin:5px; padding-left:10px;
    font-size:100%; list-style-type:none; line-height:250%;
    background:#DCE2F0; border-radius:20px;}

.copy{
    text-align:center; float: left;
    width:15%; height: 355px; overflow:visible;
    margin-top:400px; margin-left:5px;
    background-color:#f0ffff; border-radius:20px;}

th {
  background:LightGrey;
}
.container{
  text-align : center;

}
img {
 width : 70%;
 height: 70%;
}

section{float: right; width:83%; height: 70%; margin-top:15px; margin-left: 10px;
    background-color: #FFFFFF;border-radius:20px;}

li:hover {background:#4169E1;}

td, th {
  border : 1px solid black;
  border-collapse : collapse;
  text-align: center;
}

a {text-decoration:none;}

h2 {font-size:150%; text-align:center;}

h3 {font-size:110%;}

footer {font-size:100%; text-align:center;
    height:30%; clear: both; overflow: visible;
    border-radius:20px;}
